.container {
  max-width: 1240px;
  padding: 0 2rem;
  margin: 7rem auto 0;

  form {
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    div {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        font-size: 0.85rem;
      }

      input {
        height: 40px;
        width: 100%;
        padding: 0 0.5rem;
        font-size: 1rem;
      }
    }

    button {
      width: 150px;
      height: 40px;
      border: none;
      border-radius: 8px;
      background-color: #314da4;
      color: #f7f7f7;
      cursor: pointer;
    }
  }

  ul {
    list-style: none;
    margin-top: 1.5rem;
    padding: 0 0.25rem;

    div {
      display: flex;
      justify-content: space-between;

      li {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        input {
          height: 1.2rem;
          width: 1.2rem;
        }

        label {
          font-size: 1.1rem;
        }
      }

      button {
        width: 150px;
        height: 40px;
        border: none;
        border-radius: 8px;
        background-color: #314da4;
        color: #f7f7f7;
        cursor: pointer;
      }
    }
  }
}
